<% include ./partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <% if (!currentUser) { %>
                <p>Welcome, stranger!</p>
            <% } else { %>
                <p>Welcome, <a href="#"><%= currentUser.username %></a>!</p>
            <% } %>
            <p><a class="btn btn-primary btn-lg"href="/campgrounds">View all campgrounds</a></p>
        </div>
    </header>
</div>

<% include ./partials/footer %>
