.avatar img {
    height: auto;
    margin-bottom: 20px;
    width: 100%;
}

.col-md-12 hr {
    border: 0;
}

.delete-form {
    display: inline;
}

.form {
    width: 30%;
    margin: 20px auto;
}

#map {
    height: 400px;
    width: 100%;
}

.row .text-center {
    display: flex;
    flex-wrap: wrap;
}

#search {
    width: 333px;
}

.thumbnail {
    padding: 0;
}
    .thumbnail .caption-full {
        padding: 10px;
    }

    .thumbnail img {
        width: 100%;
    }

.title {
    text-align: center;
}
